#cloud-config
package_update: true
package_upgrade: false
packages:
  - nginx
  - openssl

runcmd:
  - systemctl start nginx
  - systemctl enable nginx
  - echo "<h1>Cloud Lab: Deployed with Terraform!</h1>" > /var/www/html/index.html
  - openssl req -x509 -nodes -days 365 -newkey rsa:2048 \
      -keyout /etc/ssl/private/nginx-selfsigned.key \
      -out /etc/ssl/certs/nginx-selfsigned.crt \
      -subj "/C=RU/ST=Online/L=Cloud/O=Student/CN=$(curl -s http://169.254.169.254/metadata/instance/network/interface/0/ipv4/ipAddress/0/publicIpAddress?api-version=2021-02-01&format=text)"
  - sed -i 's/listen 80;/listen 443 ssl;/g' /etc/nginx/sites-available/default
  - echo "ssl_certificate /etc/ssl/certs/nginx-selfsigned.crt;" >> /etc/nginx/sites-available/default
  - echo "ssl_certificate_key /etc/ssl/private/nginx-selfsigned.key;" >> /etc/nginx/sites-available/default
  - nginx -s reload